{% extends "layout.html" %} 
{% block body %}

<div id=selection_form>
    <form action="{{ url_for('dashboard')}}">
     <select name='week'>
            {% for week in weeks %}
            {% if week == selected_week %}
                <option selected value="{{ week }}">Week {{ week }}</option> 
            {% else %} 
                <option value="{{ week }}">Week {{ week }}</option> 
            {% endif %}
           {% endfor %}
     </select>
     <p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Go</button>
     </p>
        
    </form>
</div>
<div id='score-board' class='evenly-distributed-children'>
    <div class='square-card hairline-border'><p class='card-title'>Total Points</p><div class='card-score'><h3>{{total_points}}</h3></div></div>
    <div class='square-card hairline-border'><p class='card-title'>Total Sleep</p><div class='card-score'><h3>{{total_sleep}}</h3></div></div>
    <div class='square-card hairline-border'><p class='card-title'>Total Drivetime</p><div class='card-score'><h3>{{total_drive}}</h3></div></div>
</div>
    <div id='points_chart'>
        <embed id='pygal_div' type="image/svg+xml" src= {{ chart|safe }} />
    </div>
    <div id='drive_chart'>
        <embed id='pygal_div' type="image/svg+xml" src= {{ drive_chart|safe }} />
    </div>
    <div id='sleep_chart'>
        <embed id='pygal_div' type="image/svg+xml" src= {{ sleep_chart|safe }} />
    </div>

{% endblock %}